/db
/out
.vs
uniprot*
*.fa
*.out
*.bed
*.msgpack
.vscode
.idea
*.txt
!requirements.txt
*.tsv
*.csv
*.parquet
*.json
__pycache__
*.pyc
*.ipynb
/renv/
/.Rprofile
*.pdf
!CMakeLists.txt
cmake-build*
build/
dist/
*.pyi
*.bin
*tmp*
/build*
kdevelop*
*.kdev4
*.cppcheck
cppcheck*
_skbuild
*.egg-info
venv
MANIFEST.in
*.log
!build_with_intel_compiler.sh
_cmake_test_compile/
/expr/
backtrace.dump
log.d/
